.container {
  background-color: #a20808;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  background-color: #111;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logoImage {
  width: 60px;
  margin-bottom: 10px;
}

.title {
  color: #e00000;
  font-size: 28px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 12px;
}

.icon {
  color: #a20808;
  margin-right: 10px;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background: transparent;
  color: black;
}

.button {
  background-color: #e00000;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff1a1a;
}
