:root {
  
  --body-background: #f2f2f2;
  --body-text-color: #022840;
  --link-color: #025373;

 
  --header-background-color: #ffffff;
  --header-text-color: rgb(180, 3, 3);
  --header-link-hover-color: #ffbb00;

 
  --footer-background-color: #f0f0f0; 
  --footer-text-color: #022840;     
  --footer-link-color: #e00000;    
  --footer-link-hover-color: #ff3333; 
}


body[data-theme="dark"] {

  --body-background: #022840;
  --body-text-color: #f2f2f2;
  --link-color: #037f8c;

  
  --header-background-color: #121212;
  --header-text-color: #ff0000;
  --header-link-hover-color: #ffbb00;

 
  --footer-background-color: #111; 
  --footer-text-color: #ffffff;    
  --footer-link-color: #e00000;   
  --footer-link-hover-color: #ff3333; 
}


* {
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--body-background);
  color: var(--body-text-color);
}