
.header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;

    background-color: var(--header-background-color);
    color: var(--header-text-color);

    transition: background-color 0.3s ease, color 0.3s ease;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo-container img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.logo-container h2 {
  font-size: 32px;
  margin: 0;
}

.menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu a:hover {
    color: var(--header-link-hover-color);
}
