
.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  font-size: 1rem;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.logo {
  font-size: 14px;
}

.links {
  display: flex;
  gap: 20px;
}


.link {
  color: var(--footer-link-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--footer-link-hover-color);
}